* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat {
  max-width: 550px;
  height: 90vh;
  border: 1px solid black;
  margin: 10px auto;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.messages {
  font-size: 40px;
  word-wrap: break-word;
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-height: calc(90vh - 100px);

  .sent {
    text-align: end;
    margin-right: 10px;
  }
}

.username {
  font-weight: bold;
}

.sendMessage {
  margin-top: 10px;
  display: flex;

  input {
    flex: 1;
    padding: 10px;
  }
}

button {
  width: fit-content;
  padding: 5px 10px;
  font-size: 23px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  background-color: aquamarine;
  color: white;
  font-weight: bold;
}

.userForm {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px auto;
  padding: 20px;
  gap: 5px;
  max-width: 550px;

  button {
    margin-top: 10px;
    cursor: pointer;
    margin: 10px auto 0;
  }
}
