.chat {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  height: 100vh;
  border: 1px solid black;
  margin: 0 auto;
  padding: 20px;
}

.messages {
  font-size: 40px;
  word-wrap: break-word;
  flex-grow: 1;
  overflow-y: scroll;
  height: 0;
  max-height: calc(100% - 100px);
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(95, 69, 69, 0.2);
    max-height: 30px;
  }
}

.username {
  font-weight: bold;
}

.sendMessage {
  margin-top: 10px;
  display: flex;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  width: 100px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  background-color: aquamarine;
  color: white;
  font-weight: bold;
}
